@page
@model Fribergs_rentals_2.Pages.Administrators.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Administrator</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrator.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrator.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrator.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrator.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrator.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrator.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrator.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator.LoggedIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrator.LoggedIn)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Administrator.AdministratorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
