@page
@model Fribergs_rentals_2.Pages.Administrators.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Personaluppgifter</h1>

<div>
    <h4>@Model.Administrator.FirstName @Model.Administrator.LastName</h4>
    <hr />
    <dl class="short-dl">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrator.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrator.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrator.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrator.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrator.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrator.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrator.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Administrator.AdministratorId">
        <button class="normalbutton">Spara</button>
    </a> |
    <a asp-page="./Index">Tillbaka till lista</a>
</div>
