@page
@model Fribergs_rentals_2.Pages.Cars.DetailsModel
@using Models

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Car.Maker @Model.Car.Mod (@Model.Car.Year)</h1>
<hr />
<div class="car-details-container">
        <div id="car-description">
        <dl>
            <dt>
            @Html.DisplayNameFor(model => model.Car.Description)
            </dt>
            <dd style="text-align:left">
                @Html.DisplayFor(model => model.Car.Description)
            </dd>
            <dd class="">
                @foreach (CarPicture carPic in @Model.Car.CarPictures)
                {
                    <img class="imgBig" src=@carPic.CarPicURL alt="Bild på bil" />
                }
            </dd>
            <dd class="">
            @{
                var currentUser = Helpers.RetrieveUserFromCookie(HttpContext.Session);
            }
            @if (currentUser is Administrator)
            {
                <a asp-page="./Edit" asp-route-id="@Model.Car.CarId">Edit</a>
            }
            <a asp-page="./Index">Tillbaka till alla bilar</a>
            </dd>
        </dl>
    </div>

    <div id="car-facts">
        <dl class="">
            <dt class="">
                @Html.DisplayNameFor(model => model.Car.Maker)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Car.Maker)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Car.Mod)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Car.Mod)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Car.Year)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Car.Year)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Car.Color)
            </dt</div>
            <dd class="">
                @Html.DisplayFor(model => model.Car.Color)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Car.UnAvailable)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Car.UnAvailable)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Car.PricePerDay)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Car.PricePerDay)
            </dd>
        
        </dl>
    </div>
</div>