@page
@model Fribergs_rentals_2.Pages.Cars.IndexModel
@using Models


@{
    ViewData["Title"] = "Index";
}
@{
    var user = Helpers.RetrieveUserFromCookie(HttpContext.Session);
}

<h1>Våra bilar</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Maker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Mod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Color)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.Cars[0].UnAvailable)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].PricePerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].CarPictures)
            </th>
            <th>
                <p>Välj</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cars) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Maker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.UnAvailable)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @if (item.CarPictures.Count() > 0)
                    {
                        <a asp-page="./Details" asp-route-Id="@item.CarId">
                            <img class="imgContainer" src="@item.CarPictures[0].CarPicURL" alt="Bild på bilen" />
                        </a>
                    }
            </td>

                    @if (user is Administrator)
                    {
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.CarId">Ändra</a> |
                        <a asp-page="./Delete" asp-route-id="@item.CarId">Radera</a> |
                        <a asp-page="/CarPictures/Create" asp-route-carId="@item.CarId">Bilder</a> |
                        <a asp-page="./Details" asp-route-id="@item.CarId">Detaljer</a> |
                    </td>
                    }
                    else
                    {
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.CarId">Detaljer</a> |
                            @if (user is Customer)
                            {
                                <a asp-page="/Bookings/Create" asp-route-carId="@item.CarId">Hyr nu</a>
                            }
                            else if (user == null)
                            {
                                <a asp-page="/Customers/Login">Hyr nu</a>
                            }
                        </td>
                    }
            </tr>
}
    </tbody>
</table>
@if (Helpers.RetrieveUserFromCookie(HttpContext.Session) is Administrator)
{
    <a asp-page="/Cars/Create">
        <button class="normalbutton" style="float:right; margin:10px 10px">Skapa ny bil</button>
    </a>
}