@page
@model Fribergs_rentals_2.Pages.CarPictures.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Radera bild</h1>
<div>
    <h4>Är du säker på att du vill radera bild på @Model.CarPicture.Car.Maker @Model.CarPicture.Car.Mod?</h4>
    <br />
    <dl class="long-dl">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarPicture.CarPicURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarPicture.CarPicURL)
        </dd>
        <dt class="col-sm-2">
            Bild
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.CarPicture.CarPicURL" class="imgSmall" />
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CarPicture.CarPictureId" />
        <input type="submit" value="Radera" class="dangerbutton" /> |
        <a asp-page="./Index">Tillbaka till lista</a>
    </form>
</div>
