@page
@model Fribergs_rentals_2.Pages.CarPictures.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Högupplöst bild</h1>

<div>
    <h4>@Model.CarPicture.Car.Maker @Model.CarPicture.Car.Mod</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarPicture.CarPicURL)
        </dt>
        <dd class="col-sm-10">
            <img class="imgBig" src="@Model.CarPicture.CarPicURL" alt="Bild på bil"
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CarPicture.CarPictureId" asp-route-carId="@Model.CarPicture.Car.CarId">Ändra</a> |
    <a asp-page="./Index">Tillbaka till lista</a>
</div>
