@page
@model Fribergs_rentals_2.Pages.CarPictures.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarPicture[0].CarPicURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CarPicture) {
        <tr>
            <td>
                <input type="hidden" asp-for="@item.Car.CarId" />
                <img class="imgSmall" src="@item.CarPicURL" />
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CarPictureId" asp-route-carId="@item.Car.CarId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CarPictureId" asp-route-carId="@item.Car.CarId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CarPictureId" asp-route-carId="@item.Car.CarId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
