@page
@model Fribergs_rentals_2.Pages.CarPictures.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Hantera bilder</h1>

<h4>(Skapa ny bild från <a asp-for="/Cars/Index">listan på bilar</a>)</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Bild
            </th>
            <th>
                Hantera
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CarPicture)
{
        <tr>
            <td>
                <input type="hidden" asp-for="@item.Car.CarId" />
                <img class="imgBig" src="@item.CarPicURL" />
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CarPictureId" asp-route-carId="@item.Car.CarId">Ändra</a> |
                <a asp-page="./Details" asp-route-id="@item.CarPictureId" asp-route-carId="@item.Car.CarId">Detaljer</a> |
                <a asp-page="./Delete" asp-route-id="@item.CarPictureId" asp-route-carId="@item.Car.CarId">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
