@page
@model Fribergs_rentals_2.Pages.Bookings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Radera</h1>
<div>
    <h4>Vill du verkligen radera bokningen?</h4>
    <br />
    <div class="short-dl">
    <dl>
        <dt class="">
            @Html.DisplayNameFor(model => model.Booking.Customer.CustomerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.Customer.CustomerId)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Booking.Customer.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.Customer.FirstName)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Booking.Customer.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.Customer.LastName)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Booking.Customer.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.Customer.PhoneNumber)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Booking.BookedCar.Maker)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.BookedCar.Maker)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Booking.BookedCar.Mod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.BookedCar.Mod)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Booking.BookingId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.BookingId)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Booking.PickUpDate)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Booking.PickUpDate)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Booking.ReturnDate)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Booking.ReturnDate)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Booking.TotalSum)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Booking.TotalSum)
        </dd>
    </dl>
    </div>
    
    <form method="post">
        <input type="hidden" asp-for="Booking.BookingId" />
        <input type="submit" value="Radera" class="dangerbutton" /> |
        <a asp-page="./Index">Tillbaka till lista</a>
    </form>
</div>
