@page
@model Fribergs_rentals_2.Pages.Bookings.DetailsModel
@using Models

@{
    ViewData["Title"] = "Details";
}

<h1>Bokning</h1>
<div class="container">
    <div class="main" style="max-width:400px">
        <h4>Summering</h4>
        <hr />
        <dl class="">
            <dt class="">
                @Html.DisplayNameFor(model => model.Booking.Customer.CustomerId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Booking.Customer.CustomerId)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Booking.Customer.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Booking.Customer.FirstName)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Booking.Customer.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Booking.Customer.LastName)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Booking.Customer.PhoneNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Booking.Customer.PhoneNumber)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Booking.BookedCar.Maker)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Booking.BookedCar.Maker)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Booking.BookedCar.Mod)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Booking.BookedCar.Mod)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Booking.BookingId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Booking.BookingId)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Booking.PickUpDate)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Booking.PickUpDate)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Booking.ReturnDate)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Booking.ReturnDate)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Booking.TotalSum)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Booking.TotalSum)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking.BookingId">Ändra</a> |
    @if (Helpers.RetrieveUserFromCookie(HttpContext.Session) is Administrator)
    {
        <a asp-page="./Index">Back to List</a>
    }
</div>
