@page
@model Fribergs_rentals_2.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Bokningar</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Customer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].BookedCar.Maker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].BookedCar.Mod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].PickUpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TotalSum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookedCar.Maker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookedCar.Mod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSum)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<button class="normalbutton" style="float:right; margin:10px 10px" asp-page="Create">Skapa ny bokning</button>
